{{!< default}}
<article class="{{post_class}}">

	{{! Everything inside the #post tags pulls data from the post }}
	{{#post}}

	{{! Everything below outputs content of the the post which has been published }}
	<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>

	<h1 class="post-title">{{{title}}}</h1>

	<section class="post-content">
		{{content}}
	</section>

	<footer class="post-footer">

    <section class="share">
      <h4>Share this post</h4>
      <a class="icon icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
      </a>
      <a class="icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="hidden">Facebook</span>
      </a>
      <a class="icon icon-googleplus" href="https://plus.google.com/share?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="hidden">Google+</span>
      </a>
    </section>

    <section class="mailing-list">
      <h4>Add your email to hear first about new posts and news</h4>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="http://harmonia.us3.list-manage2.com/subscribe/post?u=6bb4c7c29d4cee15704e2a1a1&amp;id=7112729437" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <input type="email" placeholder="you@your-email.com" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <input type="hidden" value="{{url absolute="true"}}" name="SOURCE" id="mce-SOURCE">
        <div id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_6bb4c7c29d4cee15704e2a1a1_7112729437" value=""></div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </section>

    <section class="call-to-action">
      <a class="logo" href="/?utm_source=blog&amp;utm_medium=referral&amp;utm_content=blog+footer+logo&amp;utm_campaign=blog">
        <img src="{{@blog.logo}}" />
      </a>

      <h4>Harmonia makes teams stronger by sharing responsibilities.</h4>
      <p><a href="/?utm_source=blog&amp;utm_medium=referral&amp;utm_content=blog+footer+find+out+more&amp;utm_campaign=blog" class="button">Find out more now</a></p>
    </section>

		{{> disqus }}
	</footer>

{{/post}}

</article>
